{% extends "story4/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story4/style.css' %}">{% endblock style %}

{% block title %}<title>Tambah Mata Kuliah</title>{% endblock title %}

{% block content %}

<div class="container">
	<div class="row wholeForm">
		<div class="col col-8 offset-2 offset-md-0 col-md-5 addForm">
			<form method="POST" action="{% url 'addMatkul' %}">
			{% csrf_token %}	
				<h2>Data Mata Kuliah Baru</h2>
				<h5>Nama Mata Kuliah</h5>
				{{ form.nama }}
				<h5>Jumlah SKS</h5>
				{{ form.sks }}
				<h5>Dosen Pengajar</h5>
				{{ form.dosen }}
				<h5>Ruang Kelas</h5>
				{{ form.ruangKelas }}
				<h5>Semester</h5>
				{{ form.semester }}
				<h5>Tahun Ajaran</h5>
				{{ form.tahunAjaran1 }} <span> / </span> {{ form.tahunAjaran2 }}
				<h5>Deskripsi Mata Kuliah</h5>
				{{ form.deskripsi }}
				<button class="btn btn-outline-danger addButton" type="submit">Tambah Mata Kuliah</button>
			</form>
		</div>
		<div class="col col-8 offset-2 col-md-6 offset-md-1">
			<h2>Mata Kuliah Terdata</h2>
			<div class="deleteCol">
				{% for matkul in daftarMatkul %}
				<div class="row subjectCard">
					<div class="col col-12 card">
						<form action="{% url 'deleteMatkul' matkul.id %}" method="POST">
							{% csrf_token %}
							<button class="deleteCard" type="submit">
								<div class="right"></div>
								<div class="left"></div>
							</button>
						</form>
						<a href="{% url 'detailMatkul' matkul.id %}">
							<h1 class="subjectTitle">{{ matkul.nama }}</h1>
							<p class="subjectYear">{{ matkul.semester }} {{ matkul.tahunAjaran1 }}/{{ matkul.tahunAjaran2 }}</p>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}