{% extends "story4/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story4/style.css' %}">{% endblock style %}

{% block title %}<title>Detail Mata Kuliah</title>{% endblock title %}

{% block content %}

<div class="container detailMatkul">
	<div class="row">
		<div class="col col-10 offset-1">
			<h1>{{ matkul.nama }}</h1>
			<h6>Data Mata Kuliah</h6>
			<p><span>Jumlah SKS : </span>{{ matkul.sks }}</p>
			<p><span>Dosen Pengajar : </span>{{ matkul.dosen }}</p>
			<p><span>Ruang Kelas : </span>{{ matkul.ruangKelas }}</p>
			<p><span>Tahun Ajaran : </span>{{ matkul.semester }} {{ matkul.tahunAjaran1 }}/{{ matkul.tahunAjaran2 }}</p>
			<h6>Deskripsi mata kuliah : </h6>
			<p>{{ matkul.deskripsi }}</p>
		</div>
	</div>
</div>
{% endblock content %}
