{% extends "story4/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story4/style.css' %}">{% endblock style %}

{% block title %}<title>HomePage</title>{% endblock title %}

{% block content %}
	<div class="container">
		<section class="welcome">
			<img class="first-photo" src="{% static 'story4/images/me.png' %}">
			<div class="row">
				<div class="col col-12 center"><h1>Hai, Selamat Datang!</h1></div>
			</div>

			<div class="row">
				<div class="col col-6 projects-button"><a href="{% url 'project' %}"><button>Projects</button></div></a>
				<div class="col col-6 interest-button"><a href="{% url 'interest' %}"><button>Ketertarikan</button></a></div>
			</div>

			<div class="row">
				<div class="col col-12 center">
					<p>atau</p>
					<p><b>Lihat Profil</b> <br><i class="fas fa-angle-down"></i></p>
					
				</div>
			</div>
		</section>

		<section class="profile" id="profile">
			
			<div class="row profile-content">
				<div class="col col-xl-3 col-lg-3 col-md-3 col-sm-8 col-12">
					<div class="profile-img"><img src="{% static 'story4/images/me2.jpeg' %}"></div>
				</div>
				<div class="col col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12 offset-0 offset-xl-1 offset-lg-1 offset-md-1 offset-sm-0">
					<h1 class="h1-profile">Aynun Nissa Setiawan</h1>
					<p>Hai! Saya adalah seorang mahasiswa di Universitas Indonesia. Saat ini saya menjalani pendidikan S1 di jurusan sistem informasi. Salah satu impian saya adalah saya ingin bisa membantu negeri ini melalui teknologi.</p>
				</div>
			</div>
		</section>

		<section class="education" id="education">
			<div class="row row-title">
				<div class="col col-sm-9 col-12 ed-title">
					<h1 class="h1-profile">Riwayat Pendidikan</h1>
				</div>
			</div>
			<div class="row row-content">
				<div class="col col-3 level">
					<h4>Pendidikan S1</h4>
					<p>2019 - Sekarang</p>
				</div>
				<div class="col col-1 line-symbol">
					<div class="round"><i class="fas fa-graduation-cap"></i></div>
					<div class="line"></div>
				</div>
				<div class="col col-sm-6 col-8 desc">
					<h4>Universitas Indonesia</h4>
					<p>Saya merupakan mahasiswa Fakultas Ilmu Komputer angkatan 2019. Nomor Induk Mahasiswa saya adalah 1906399202. Saya berkuliah di Jurusan Sistem Informasi. Singkatnya, saya belajar bisnis dan teknologi. </p>
				</div>
			</div>
			<div class="row row-content">
				<div class="col col-3 level">
					<h4>Sekolah Menengah Atas</h4>
					<p>2016 - 2019</p>
				</div>
				<div class="col col-1 line-symbol">
					<div class="round"><i class="fas fa-graduation-cap"></i></div>
					<div class="line"></div>
				</div>
				<div class="col col-sm-6 col-8 desc">
					<h4>SMAN 103 Jakarta</h4>
					<p>Di SMA, saya mengambil jurusan IPA. Selama saya bersekolah, saya aktif mengikuti beberapa ekstrakulikuler. Saya satunya adalah Kelompok Ilmiah Remaja (KIR). Selama menempuh pendidikan SMA, saya meningkatkan ketertarikan saya terhadap fisika dan astronomi serta pemrograman.</p>
				</div>
			</div>
			<div class="row row-content">
				<div class="col col-3 level">
					<h4>Sekolah Menengah Pertama</h4>
					<p>2013 - 2016</p>
				</div>
				<div class="col col-1 line-symbol">
					<div class="round"><i class="fas fa-graduation-cap"></i></div>
					<div class="line"></div>
				</div>
				<div class="col col-sm-6 col-8 desc">
					<h4>SMPN 193 Jakarta</h4>
					<p>Ketika menempuh pendidikan SMP, saya mengikuti ekstrakulikuler seperti basket. Saya pun mengikuti perlombaan sains yang membuat saya semakin tertarik dengan bidang IPA.</p>
				</div>
			</div>
			<div class="row row-content">
				<div class="col col-3 level">
					<h4>Sekolah Dasar</h4>
					<p>2007 - 2013</p>
				</div>
				<div class="col col-1 line-symbol">
					<div class="round"><i class="fas fa-graduation-cap"></i></div>
					<div class="line"></div>
				</div>
				<div class="col col-sm-6 col-8 desc">
					<h4>SDN 03 Jakarta</h4>
					<p>Pengalaman paling menarik yang saya miliki ketika menempuk pendidikan SD adalah saya tergabung menjadi tim angklung sekolah. Saya dan tim sempat tampil di beberapa tempat. Ternyata asyik ya bermain alat musik daerah!</p>
				</div>
			</div>
		</section>
		<section class="footer" id="footer">
			<div class="row">
				<div class="col col-12">
					<h1>Mari Berbagi Cerita!</h1>
				</div>
			</div>
			<div class="row elements">
				<div class="col col-12 col-sm-4">
					<p><i class="fas fa-map-marker-alt"></i></p>
					<p>Jakarta, Indonesia</p>
				</div>
				<div class="col col-12 col-sm-4">
					<p><a href="mailto:nissasetiawan4@gmail.com"><i class="far fa-envelope"></i></a></p>
					<p>nissasetiawan4@gmail.com</p>
				</div>
				<div class="col col-12 col-sm-4">
					<p><a href="https://www.instagram.com/aynunnissa___/"></a><i class="fab fa-instagram"></i></p>
					<p>@aynunnissa___</p>
				</div>
			</div>
		</section>
	</div>

	<div class="side-nav">
		<a href="#profile"><div class="sec-area">
			Profil
		</div></a>
		<a href="#education"><div class="sec-area">
			Pendidikan
		</div></a>
		<a href="#footer"><div class="sec-area">
			Kontak
		</div></a>
	</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript" src="{% static 'story4/script.js' %}"></script>
{% endblock script %}
	