{% extends "story4/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story4/style.css' %}">{% endblock style %}


{% block title %}<title>Mata Kuliah</title>{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col col-12"><h1>Daftar Mata Kuliah</h1></div>
		</div>
		<div class="row">
			<div class="col col-12 tambahMatkul"><a href="{% url 'addMatkul' %}"><i class="fas fa-plus-square"></i> Tambah/Hapus Mata Kuliah</a></div>
		</div>
		<div class="row subjectCard">
			{% for matkul in daftarMatkul %}
			<div class="col col-10 col-md-5 card">
				<a href="{% url 'detailMatkul' matkul.id %}">
					<h1 class="subjectTitle">{{ matkul.nama }}</h1>
					<p class="subjectYear">{{ matkul.semester }} {{ matkul.tahunAjaran1 }}/{{ matkul.tahunAjaran2 }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}