:root {
  --fredoka: 'Fredoka One', cursive;
  --roboto: 'Roboto', sans-serif;
  --soft-background: #f9f4ed;
  --almost-red: #c7423f;
}

.row {
	margin: 0;
}

body {
	background-color: var(--soft-background);
}

/*	PROFILE ZONE	*/
.profil {
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 50px 50px 0px 50px;
}

.foto {
	width: 170px;
	height: 170px;
}

.round-back {
	width: 100%;
	height: 100%;
	background-color: hsl(1, 55%, 88%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 10px;
}

.round-back img {
	height: 80%;
}

.round-back .name {
	height: 20%;
	padding: 0px 25px;
	background-color: var(--almost-red);
	text-align: center;
}

.name p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
	font-family: var(--fredoka);
}

.desc {
	text-align: center;
	font-family: var(--roboto);
	font-size: 15px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav ul button {
	color: black;
	font-family: var(--fredoka);
	font-size: 30px;
	border: none;
	outline: none;
	background-color: transparent;
}


.contact {
	width: 80%;
	height: 70px;
	font-size: 40px;

}

.contact ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.contact ul a {
	color: black;
}

.back-nav {
	width: 100%;
	height: 40px;
}

.back-nav button {
	background-color: var(--almost-red);
	border: none;
	width: 100%;
	height: 100%;
	font-family: var(--fredoka);
	color: white;
}

.back-nav a {
	color: white;
	text-decoration: none;
}

/*	END OF PROFILE ZONE	*/


/*	KONTEN ZONE	*/
.konten {
	background-color: #f8a229;
	height: 100vh;
	overflow-y: auto;
}

.nav ul li.visit button {
	color: var(--almost-red);
}

.konten.display {
	display: block;
}

/*	PROJECT	*/
.btn-group {
	flex-wrap: wrap;
}

.projects {
	height: 100vh;
}

.konten-project {
	padding: 25px;
}

.col-title {
	text-align: center;
	font-family: var(--fredoka);
}

.capture {
	padding: 25px;
}

.notebook img, .phone img {
	width: 100%;
	border: solid black 1.5vw;
	border-radius: 10px;
}

.recipe {
	font-family: var(--fredoka);
}

.recipe button {
	background-color: black;
}

.recipe button a {
	color: white;
	text-decoration: none;
}

.konten-project {
	display: none;
}

/*	EXPERIENCE	*/
.experience {
	padding-top: 5vh;
	box-sizing: border-box;
}

.row-title {
	padding-bottom: 10vh;
}

.ed-title {
	text-align: center;
}

.level {
	text-align: center;
}

.level h4 {
	font-family: var(--fredoka);
	font-size: 15px;
}

.level p {
	font-family: var(--roboto);
	font-size: 12px;
}

.desc h4 {
	font-family: var(--fredoka);
	font-size: 17px;
	font-weight: 900;
}

.desc p {
	font-family: var(--roboto);
	font-size: 15px;
	color: black;
}

.round {
	width: 40px;
	height: 40px;
	background-color: black;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	margin-left: -20px;
	text-align: center;
	font-size: 25px;
	color: white;
}

.line {
	width: 2px;
	height: 100%;
	margin: 0px auto;
	background-color: black;
}

.konten-exp {
	background-color: hsl(1, 55%, 71%);
	display: none;
}

.konten-exp .desc {
	text-align: left;
}

.ex-title {
	font-family: var(--fredoka);
}

/*	END OF EXPRIENCE SECTION	*/


/*	SKILLS ZONE	*/
.konten-skill {
	padding: 35px;
	display: none;
}

.konten-skill ul {
	width: 100%;
	list-style: none;
}

.konten-skill .row {
	padding-top: 50px;
}

.konten-skill ul li {
	border-bottom: solid 2px black;
	display: inline-block;
	width: 70%;
	font-family: var(--roboto);
}

.konten-skill h1 {
	font-family: var(--fredoka);
}

/*	END OF SKILL ZONE	*/

/*	END OF KONTEN ZONE	*/

@media only screen and (max-width: 992px) {
	.profil {
	    padding: 50px 10px 0px 10px;
	}

	.nav ul button  {
		font-size: 25px;
	}
}

@media only screen and (max-width: 576px) {
	.foto {
	    width: 150px;
	    height: 150px;
	}

	.profil {
	    padding: 50px 100px 0px 100px;
	    background-color: var(--soft-background);
	    z-index: 2;
	}

	.konten-exp {
		overflow-y: unset;
		height: auto;
	}

	.konten.konten-project {
		overflow-y: unset;
		height: auto;
		padding-top: 50px;
	}
}

@media only screen and (max-width: 400px) {
	.col.konten-exp {
	    padding: 0;
	}

}