:root {
  --fredoka: 'Fredoka One', cursive;
  --roboto: 'Roboto', sans-serif;
  --soft-background: #f9f4ed;
  --almost-red: #c7423f;
}

body {
	background-color: var(--soft-background);
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--fredoka);
}

a:hover {
	text-decoration: none;
}


/*	NAVBAR ZONE	*/

.navbar-brand img {
	width: 50px;
	height: 50px;
}

.navbar-container {
	height: 25vh;
}

.navbar-light {
	background-color: inherit !important;
}

.nav-link {
	color: var(--almost-red) !important;
	font-family: var(--fredoka);
}

/*	END OF NAVBAR ZONE	*/


/*	HOMEPAGE WELCOME ZONE	*/
.first-photo {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.welcome {
	position: relative;
	font-family: var(--roboto);
	height: 75vh;
	box-sizing: border-box;
}

.welcome .row:first-of-type {
	padding: 30px 0px 60px 0px;
}

.welcome .row:last-of-type p {
	margin: 30px 0px;
}

.projects-button {
	text-align: right;
}

.interest-button {
	text-align: left;
}

.center {
	text-align: center;
}

.welcome h1 {
	font-size: 70px;
}

.projects-button button, .interest-button button {
	background-color: var(--almost-red);
	border: none;
	color: white;
	padding: 3px 25px;
	border-radius: 5px;
}
/*	END OF HOMEPAGE WELCOME ZONE	*/

/*	PROFILE SECTION	*/
.profile {
	height: 100vh;
	padding-top: 10vh;
	box-sizing: border-box;
}

.profile-title {
	height: 10vh;
	text-align: center;
}

.profile-content {
	height: 80vh;
	display: flex;
	align-items: center;
}

.profile-img img {
	width: 250px;
	height: 250px;
	box-shadow: 10px 10px var(--almost-red);
}

.h1-profile {
	font-family: var(--fredoka);
}

/*	END OF PROFILE SECTION	*/


/*	EDUCATIONAL SECTION	*/
.education {
	height: auto;
	padding-top: 5vh;
	margin-bottom: 15vh;
	box-sizing: border-box;
}

.row-title {
	padding-bottom: 10vh;
}

.ed-title {
	text-align: center;
}

.level {
	text-align: center;
}

.level h4 {
	font-size: 15px;
}

.level p {
	font-family: var(--roboto);
	font-size: 12px;
}

.desc h4 {
	font-size: 17px;
}

.desc p {
	font-family: var(--roboto);
	font-size: 15px;
}

.round {
	width: 40px;
	height: 40px;
	background-color: var(--almost-red);
	position: absolute;
	border-radius: 50%;
	left: 50%;
	margin-left: -20px;
	text-align: center;
	font-size: 25px;
	color: white;
}

.line {
	width: 2px;
	height: 100%;
	margin: 0px auto;
	background-color: black;
}

/*	END OF EDUCATIONAL SECTION	*/


/*	CONTACT SECTION	*/
.footer {
	min-height: 30vh;
	background-color: var(--almost-red);
	padding-top: 30px;
}

.footer .row {
	text-align: center;
}

.footer h1 {
	font-size: 35px;
	color: var(--soft-background);
}

.footer a {
	color: white;
}

.elements {
	padding: 20px 200px;
	color: white;
}

.elements p {
	font-family: var(--roboto);
	font-size: 12px;
}

.elements p i {
	font-size: 25px;
}

/*	END OF CONTACT SECTION	*/

/*	HOBI SECTIO */

.hobbies {
	padding-top: 10vh;
	height: 75vh;
}

.row-hobbies .col {
	height: 100px;
	display: flex;
	align-items: center;
}

.line-hobi {
	width: 100%;
	height: 3px;
	background-color: black;
}


.hobbies .active {
	border: solid 3px var(--almost-red);
}


.hobby-desc {
	padding: 50px;
	display: none;
}

.basket {
	display: block;
}

.row-hobby {
	position: absolute;
	width: 100%;
	border: 
}

.round-hobby {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	font-size: 60px;
	color: black;
	margin: 0 auto;
	border: solid 3px #ccc;
	cursor: pointer;
}

/*	END OF HOBBY ZONE	*/

/*	SIDE NAV ZONE	*/
.side-nav {
	height: 60vh;
	width: 100px;
	background-color: black;
	border: solid 3px black;
	border-radius: 5px;
	top: 20vh;
	right: 100px;
	position: fixed;
	opacity: 0;
	z-index: -1;
	transition: opacity 1s;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.sec-area {
	width: 100%;
	height: 100%;
	font-family: var(--fredoka);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	background-color: var(--almost-red);
}

.side-nav a {
	color: white;
	text-decoration: none;
	height: 33%;
	width: 100%;
}
/*	END OF SIDE NAV AREA*/

/*  Add Matkul Area  */
.wholeForm h2 {
	color: var(--almost-red);
	margin: 20px 0px;
}

.deleteCol {
	height: 100vh;
	overflow-y: auto;
	padding: 10px;
}

.deleteCol .subjectCard {
	margin: 30px 0px 0px 0px;
}

.addButton {
	margin: 10px 0px 50px 0px;
}

.addForm input {
	margin: 5px 0px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--almost-red);
}

#id_deskripsi {
	margin: 5px 0px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--almost-red);
}

#id_tahunAjaran1, #id_tahunAjaran2 {
	width: 100px;
}
/* End of Add Matkul Area */

/*  Button Add Matkul  */
.tambahMatkul {
	margin-top: 10px;
	font-size: 20px;
}

.tambahMatkul a i {
	color: var(--almost-red);
}

.tambahMatkul a {
	color: black;
	font-family: var(--roboto);
	border-bottom: 3px solid var(--almost-red);
}

.tambahMatkul a:hover {
	text-decoration: none;
	border-bottom: 3px solid black;
}
/*  End of Button Add Matkul  */

/*	Matkul Card Zone	*/
.subjectCard {
	height: auto;
	color: white;
	margin-top: 30px;
}

.subjectCard a {
	color: inherit;
	padding: 15px 40px 15px 15px;
}

.subjectCard .card {
	background-color: var(--almost-red);
	border-radius: 20px;
	padding: 0;
	position: relative;
	margin-top: 20px;
}

.subjectCard .card:nth-child(even) {
	margin-left: 30px;
}

.subjectTitle {
	font-size: 20px;
	padding: 0px 0px 10px 0px;
	border-bottom: 3px solid white;
	letter-spacing: 2px;
}

.subjectYear {
	font-family: var(--roboto);
	margin: 0;
	font-size: 15px;
}

.deleteCard {
	border-radius: 0px 20px 0px 20px;
	border: none;
	margin: 0;
	padding: 0;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0px;
	top: 0px;
	color: white;
	background-color: black;
	font-size: 25px;
}

.left {
	width: 60%;
	height: 3px;
	background-color: white;
	transform: rotate(45deg) translate(0px, 0px);
	position: absolute;
}

.right {
	width: 60%;
	height: 3px;
	background-color: white;
	transform: rotate(-45deg);
	position: absolute;
}

/*	End of Matkul Card Zone */

@media only screen and (max-width: 992px) {
	.side-nav {
		right: 30px;
	}

	.container {
		max-width: 820px;
	}

	.profile-img img {
	    width: 200px;
	    height: 200px;
	}

	.elements {
		padding: 20px;
	}

}

@media only screen and (max-width: 768px) {
	.container {
		max-width: 620px;
	}

	.subjectCard .card:nth-child(even) {
	    margin-left: 0px;
	}	

	.wholeForm {
		display: flex;
		flex-direction: column-reverse;
	}

	.deleteCol {
		height: auto;
	    padding: 10px;
	    display: flex;
	    overflow-x: auto;
	}

	.deleteCol .subjectCard {
	    margin: 0px 20px 20px 0px;
	}

}

@media only screen and (max-width: 576px) {
	.welcome h1 {
		font-size: 50px;
	}

	.side-nav {
	    height: 40px;
	    width: 100%;
	    border: none;
	    top: 0vh;
	    left: 0;
	    flex-wrap: nowrap;
	}

	.side-nav a {
		height: 100%;
	}

	.profile-content {
		align-content: center;
	}

	.profile-content .col:nth-child(2) {
		margin-top: 50px;
	}

	.elements .col {
		display: flex;
	}

	.elements p {
		padding-left: 20px;
	}

	.footer h1 {
		font-size: 25px;
	}

	.round-hobby {
		width: 80px;
		height: 80px;
		font-size: 45px;
	}
}

@media only screen and (max-width: 400px) {
	.desc p {
	    font-size: 12px;
	}

	.level h4 {
	    font-size: 12px;
	}
}