* {
	margin: 0;
}

.back-button {
	position: fixed;
	z-index: 1;
	top: 50px;
	left: 0;
}

.back-button button {
	border: solid 2px black;
	background-color: white;
	padding: 10px 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	cursor: pointer;
}

.myProfile {
	width: 100%;
	height: 50vh;
	background-color: grey;
	position: relative;
}

img {
	position: absolute;
	bottom: 0;
	left: 60%;
	height: 80%;
}

.blackPart {
	width: 65%;
	height: inherit;
	background-color: black;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.yellowPart {
	width: 35%;
	height: inherit;
	background-color: #fff790;
	float: left;
}

.text {
	width: 50%;
	display: inline;
}

.text p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.text h1 {
	color: #fff790;
	margin: 10px 0px;
	font-size: 60px;
}

.studentData {
	height: 50vh;
}

.secTitle {
	width: 100%;
	padding-top: 15px;
	text-align: center;
	height: 25%;
	box-sizing: border-box;
}

.infoBlock {
	height: 75%;
	width: 100%;
}

.box {
	width: 20%;
	height: 180px;
	float: left;
	background-color: #fff790;
	margin-left: 10%;
	box-shadow: 7px 7px black;
}

.content {
	width: 100%;
	float: left;
	height: 100%;
	font-size: 70px;
	text-align: center;
	padding-top: 40px;
}

.content p {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
}

.educationalBackground {
	height: 50vh;
	background-color: black;
	color: white;
}

.title {
	height: 50vh;
	width: 225px;
	background-color: #fff790;
	position: absolute;
	left: 15%;
	display: flex;
	align-items: center;
}

.titleText {
	background-color: black;
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
}

.titleText h1 {
	color: white;
	text-align: center;
	font-size: 30px;
}

.history {
	margin-left: 50%;
	padding-top: 50px;
	font-size: 20px;
}

.history p {
	margin-top: 20px;
}

.history p span {
	margin-right: 20px;
	font-size: 15px;
}

.aboutMe {
	height: auto;
	padding: 40px 40px 0px 40px;
	box-sizing: border-box;
}

.content2 {
	height: 100%;
	width: 100%;
	background-color: #fff790;
}

.me {
	width: 100%;
	padding: 20px 100px;
	text-align: center;
	box-sizing: border-box;
}

.content2 h1 {
	display: inline-block;
	font-size: 30px;
}

.me p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin-top: 20px;
}

.hobi {
	width: 100%;
	background-color: #fff790;
	text-align: center;
}

.hobi-icon {
	width: 50%;
	margin: 20px auto;
	font-size: 50px;
}

.hobi-icon i {
	margin: 0px 20px;
}

.ig {
	padding: 20px 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	font-weight: 550;	
}

.contact {
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.contact p {
	color: white;
	font-size: 18px;
}

.contact span {
	margin-left: 10px;
}