{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'story1/style.css' %}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>Homepage</title>
</head>
<body>
	<div class="back-button">
		<a href="{% url 'index' %}"><button>Homepage</button></a>
	</div>
	
	<section class="myProfile">
		<img src="{% static 'story1/images/me.png' %}">
		<div class="blackPart">
			<div class="text">
				<p>Hai, Saya</p>
				<h1>Aynun Nissa</h1>
				<p>Mahasiswa Jurusan Sistem Informasi di Universitas Indonesia</p>
			</div>
		</div>
		<div class="yellowPart"></div>
	</section>
	<section class="studentData">
		<div class="secTitle">
			<h1>Informasi Kemahasiswaan</h1>
		</div>
		<div class="infoBlock">
			<div class="box">
				<div class="content">
					<i class="fas fa-university"></i>
					<p>Universitas Indonesia</p>
				</div>
			</div>
			<div class="box">
				<div class="content">
					<i class="fas fa-graduation-cap"></i>
					<p>Angkatan 2019</p>
				</div>
			</div>
			<div class="box">
				<div class="content">
					<i class="fas fa-search"></i>
					<p>NPM : 1906399202</p>
				</div>
			</div>
		</div>
	</section>
	<section class="educationalBackground">
		<div class="title">
			<div class="titleText">
				<h1>Riwayat Pendidikan</h1>
			</div>
		</div>
		<div class="history">
			<p><span><i class="fas fa-circle-notch"></i></span> Universitas Indonesia</p>
			<p><span><i class="fas fa-circle-notch"></i></span> SMAN 103 Jakarta</p>
			<p><span><i class="fas fa-circle-notch"></i></span> SMPN 193 Jakarta</p>
			<p><span><i class="fas fa-circle-notch"></i></span> SDN 03 Jakarta</p>
		</div>
	</section>
	<section class="aboutMe">
		<div class="content2">
			<div class="me">
				<h1>Tentang Saya</h1>
				<p>Nama saya Aynun Nissa Setiawan. Saya adalah mahasiswa jurusan sistem informasi di Universitas Indonesia. Saat ini saya sedang menempuh perkuliahan semester ke-3.</p>
				
			</div>
			<div class="hobi">
				<h1>Hobi</h1>
				<div class="hobi-icon">
					<i class="fas fa-basketball-ball"></i>
					<i class="fas fa-gamepad"></i>
					<i class="fas fa-book"></i>
				</div>
			</div>
			<a href="https://www.instagram.com/aynunnissa___/">
				<div class="contact">
					<p>Temukan saya : <span><i class="fab fa-instagram"></i></span></p>
				</div>
			</a>
		</div>
		
	</section>
</body>
</html>